@tailwind base;
@tailwind components;
@tailwind utilities;

/* スクロールバー非表示用のユーティリティ */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

